In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.DataFrame(columns=['area', 'price'],
                 data = [[2600,550000],
                        [3000,565000],
                        [3200,610000],
                        [3600,680000],
                        [4000,725000]])
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
model = linear_model.LinearRegression()
model.fit(df[['area']], df.price)

LinearRegression()

In [4]:
model.coef_

array([135.78767123])

In [6]:
model.intercept_

180616.43835616432

In [7]:
model.predict([[5000]])

array([859554.79452055])

In [8]:
from joblib import dump

In [9]:
dump(model,'model_joblib')

['model_joblib']